{% extends 'main.html' %}
{% block content %}
<form method="POST" action="" class="d-flex justify-content-center">
    <div class="d-flex flex-column col-md-4">
        {% csrf_token %}

        {{ form.username.label }}
        {{ form.username }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.password1.label }}
        {{ form.password1 }}

        {{ form.password2.label }}
        {{ form.password2 }}

        {{ form.errors }}

        <input class="mt-3" type="submit" name="CreateUser">
    </div>
</form>
{% endblock content %}