{% extends "beer/base.html" %}
{% load i18n %}
<body>
<div class="container container_size">
    <div class="row">
        {% block sidebar %}
        {% trans "Введите название напитка" as fillgape %}
        <div class="container container_size">
            <div class="row">
                <div class="col-2">
                    <nav class="navbar navbar-light bg-light">
                        <form action="{% url 'search' %}" method="get" class="form-inline">
                            <input class="form-control mb-3 mr-sm-2" style="width: 16rem;" name="q" type="search"
                                   placeholder="{% block translate %} {{ fillgape }} {% endblock %}"
                                   aria-label="Search">
                            <button class="btn mb-2 btn-outline-success my-2 my-sm-0" style="width: 16rem;"
                                    type="submit">{% trans "Поиск" %}
                            </button>
                        </form>
                    </nav>
                    <br>
                    <form action="{% url 'filter' %}" method="get" name="filter">
                        {% for sort in views.get_sort %}
                        <div class="card row mt-3 ml-2 mb-3" style="width: 16rem;">
                            <li class="list-group-item">
                                <input type="checkbox" class="mt-1 mr-5" name="sort_of_beer" value="{{ sort.id }}">
                                <span style="font-family: Avantgarde;font-weight: 600;color: #000000;">{{ sort.name }}</span>
                            </li>
                        </div>
                        {% endfor %}
                        <button class="ml-2" style="width: 16rem;" type="submit">{% trans "Найти" %}</button>
                    </form>
                </div>
                {% endblock sidebar %}
                {% block content %}
                <div class="row square col-9 grid">
                    {% for beer in beer_list %}
                    <div class="card">
                        <img class="card-img-top" src="{{ beer.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ beer.name }}</h5>
                            <p class="card-text">{{ beer.price }} грн.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="btn-success">{% trans "Купить" %}</a>
                            <a href="{{ beer.get_absolute_url }}" class="card-link">{% trans "Описание" %}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-4" style="width: 50%; margin: 0 auto; text-align: center;">
                    {% include 'include/pagination.html' %}
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</body>
