{% extends "beer/base.html" %}
{% block content %}
{% load i18n %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{% trans "Название" %}</th>
      <th scope="col">{% trans "Описание" %}</th>
      <th scope="col">{% trans "Эмблема" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ manufacturer.name }}</td>
      <td>{{ manufacturer.description }}</td>
      <td><img style = "width: 320px" src="{{ manufacturer.image.url }}"></td>
    </tr>
  </tbody>
</table>
{% endblock %}
</body>
</html>